*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*header*/
.top-header{
  margin: 2em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.top-header>img{
  max-height: 60px;
  margin: 0 3em;
  filter: drop-shadow(0px 3px 1px #999);
}
.header-nav{
  display: flex;
  justify-content: center;
}



/*nav*/
.page-links{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap:3em;
}



/*main*/
main{
  display: flex;
  flex-direction: column;
  gap: 5em;
}



/*hero*/
.hero{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-height: 450px;
  background-color: #495E57;
  gap: 15em;
}
.hero-header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:1em;
}
.hero-img{
  overflow: visible;
  margin: 2em 0 0 0  ;
  height: 450px;
  width: 400px;
  border-radius:6%;
}
.button{
  border: none;
  border-radius: 0.5em;
  padding: 1.5em;
  background-color: #F4CE14;
  color: #333;
}
/*highlight*/
.highlight-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.highlight{
  max-width: 1100px;
  gap: 4em;
  display: flex;
  flex-direction: column;

}
.highlight-header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



/*cards */
.cards{
  display: flex;
  flex-direction: row;
  gap: 2.5em;
}
.card{
  border-radius: 1em 1em 0 0 ;
  width: 310px;
  background-color: #EDEFEE;
}
.card-image{
  padding: 0;
  width: 310px;
  height: 200px;
  border-radius: 1em 1em 0 0 ;
}
.card-spacing{
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2em 2em 2em;
}
/* testimionials*/




.testimonials{
  height: 600px;
  background-color: #D9D9D9;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap: 8em;
}
.testimonials > header{
  color:#333;
}

.opinions{
  display: flex;
  flex-direction: row;
  gap:1.9em;
}

.opinion{
  background-color: #fff;
  padding: 1em;
  width: 230px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.rating{
  display: flex;
  align-items: center;
  gap:0.5em
}
.star{
  width: 20px;
}
.profile{
  width: 50px;
}
.customer-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}




/* about */
.about{
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about section{
  display: flex;
  flex-direction: column;
  gap:2em;
}
.img-about{
  max-width: 280px;
  height:350px;
  object-fit: cover;
}
.about aside{
  width: 460px;
  position: relative;
}
.img-about-a{
  position: absolute;
  top: 105px;
}
.img-about-b{
  position: absolute;
  left:180px;
}
.about article{
  display: flex;
  flex-direction: row;
  gap:9.5em;
}




/*footer*/
footer{
  height: 500px;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5em;
}
footer>img{
  object-fit: cover;
}
.media{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5em;
}
footer li, .footer-link{
  color: #333;
  font-family: 'Karla', sans-serif;
  font-size: 20pt;
  font-weight: 500;
}

.bottom-links{
  list-style-type: none;
}
/* main text styles*/
.display-title{
  font-size: 64pt;
  font-family: 'Markazi Text', serif;
  color:#F4CE14;
  margin-top: 0.2em;
  font-weight: 500;
  line-height: 0.4;
}
.hero-header .display-title{
  filter: drop-shadow(0px 4px 2px #333);
  padding: 0.2em 0 0 0 ;

}
.sub-title{
  font-size:40pt;
  font-family: 'Markazi Text', serif;
  font-weight:400;
}
.lead-text{
  font-size: 18pt;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
}
.section-title{
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  font-weight:800;
  font-size: 20pt;
}
.section-categories{
  font-weight:700;
  font-size: 16pt;
  font-family: 'Karla', sans-serif;
}
.card-title{
  font-family: 'Karla', sans-serif;
  font-size: 18pt;
  font-weight:700;
  color: black;
}
.section-title2{
  font-size: 40pt;
  font-weight: 500;
}
.paragraph-text-regular{
  color:#495E57;
  font-family: 'Karla', sans-serif;
  font-weight:400;
  font-size: 16pt;
  line-height: 1.5;
  max-width: 65ch;
}
.highlight-text{
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color:#495E57;
  font-size: 16pt;
}
.card-text{
  font-family: 'Markazi Text', serif;
  font-weight: 500;
  font-size: 24pt;
}
/* helping text styles*/
.gray-text{
  color: #EDEFEE;
}
.white-text{
  color: #fff
}
.cash-text{
  color: #EE9972;
}
.review-text{
  font-size: 14pt;
}
.dark-gray-text{
  color:#333;
}
a{
  text-decoration: none;
}
.description{
  max-width: 250px;
}
.about-text{
  line-height: 1.5;
  max-width: 400px;
  text-align: justify;
}
footer h5{
  font-family: 'Karla', sans-serif;
  color:#495E57;
  font-weight: 800;
  height: 2em;
  font-size: 20pt;
  max-width: 14ch;
}

/* help */
.flex-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}